services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    App\EventListener\ProfileCompletionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.request }
